{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Update Event</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="id" value="{{ .Id }}" />
      <label>Event</label><input type="text" name="event" value="{{ .Event }}" /><br/>
      <label>Date</label><input type="date" name="date" value="{{ .Date }}"/><br/>
      <label>Time</label><input type="time" name="time" value="{{ .Time }}"/><br/>
      <input type="submit" value="Update Event"/>
      
    </form><br />    
  {{ template "Footer" }}
{{ end }}