{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2>{{ .Id }} </h2>
      <p>Event: {{ .Event }}</p>
      <p>Date:  {{ .Date }}</p><p>Time:  {{ .Time }}</p><br /> <a href="/edit?id={{ .Id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}